.button{
    font-family: 'Montserrat',sans-serif;
    color: #FFF;
    background-color: #1B1B1B;
    cursor: pointer;
}

.button.secund{
    font-size: 10px;
    width: 90px;
    height: 35px;
    border: 1px solid #FFF;
}

.button.primary{
    font-size: 8px;
    width: 56px;
    height: 24px;
    border: none;
    position: relative;
    top: 30%;
}

.button.primary.free{
    border: 1px solid #FFF;
}
#btnBanner{
    position: relative;
    top: 88%;
}

.button.comprar{
    text-decoration: none;
    text-align: center;
    font-size: 8px;
    padding: 5px 0;
}

.button.comprar:hover{
    text-decoration: underline;
}